[aws]
aws_region_name = us-east-2

[global]
cluster_template = default
update_check = true
sanity_check = true

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[cluster default]
key_name = aws-berry
base_os = centos7
master_instance_type = t3a.micro
compute_instance_type = t3a.micro
initial_queue_size = 1
max_queue_size = 3
maintain_initial_size = true
vpc_settings = default

[vpc default]
vpc_id = vpc-04caee055567710ce
master_subnet_id = subnet-0b6a8b32ff7754500
compute_subnet_id = subnet-0974f40a438621922
use_public_ips = false

